{% extends 'layout.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="/media/{{ random_vacant_topic.user.user_profile.avatar }}" alt="Logo">
                    </a>
                </div>
                <div class="col-md-8">
                    <h2>{{ random_vacant_topic.subject }}</h2>
                    <small>
                        {{ random_vacant_topic.annotation }}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">To check:</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a>Proposition from Vlas Smirnov - "New Unarea"</a></li>
                            <li class="list-group-item"><a>Proposition from Eugene Savchenko - "Combobox 2"</a></li>
                            <li class="list-group-item"><a>Proposition from Alex Ivanov - "How about NO COURSE WORK THIS YEAR?"</a></li>
                            <li class="list-group-item"><a>Proposition from Alexander Snegovoy - "Code and coffe"</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}