{% extends 'layout.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table id="vacant-topics-list">
                    <thead>
                        <tr role="row">
                            <th>Subject</th>
                            <th>Number of applications</th>
                            <th>Locked</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_body %}
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
    var vacant_topics_table = $('#vacant-topics-list').dataTable({
        "bServerSide": true,
        "sAjaxSource": '/works/ajax_vacant_topics_list',
        "bProcessing": true,
        "bLengthChange": true,
        "bFilter": false,
        "bInfo": true,
        "bAutoWidth": true,
        "aoColumnDefs": [
            {
                "mRender": function ( data, type, row ) {
                    row.status_filter = "<a href='/works/vacant_topic/" + data[0] + "'>"+ data[1] +"</a>";
                    return row.status_filter;
                },
                "aTargets": [0]
            },
            {
                "mRender": function ( data, type, row ) {
                    row.status_filter = '<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>';
                    if (data)
                        row.status_filter = '<span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>';
                    return row.status_filter;
                },
                "aTargets": [2]
            }
        ]
    });
    </script>
{% endblock %}