{% extends 'layout.html' %}
{% load staticfiles %}
{% block css %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="/media/{{ vacant_topic.user.user_profile.avatar }}" alt="Logo">
                </a>
            </div>
            <div class="col-md-8">
                <h2>{{ vacant_topic.subject }}</h2>
                <small>
                    {{ vacant_topic.annotation }}
                </small>
            </div>
        </div>
        <div class="row">
            {% for application in vacant_topic.applications.all %}
                <b>{{ application.applicant }}
                    {% if user.is_authenticated and user.id == application.vacant_topic.user.id and not vacant_topic.locked %}
                        <button type="button" class="btn btn-default" onclick="approve({{ application.applicant.id }})">Approve</button>
                    {% endif %}
                </b>
                <p>{{ application.text }}</p>
                <small>{{ application.created_at }}</small>
                <hr>
            {% endfor %}
        </div>
        {% if user.is_authenticated and user.user_profile.type == 'ST' %}
        <div class="row">
            <h3>Apply for work:</h3>
            <form role="form" action="{% url 'add_application' vacant_topic.id %}" method="post" id="apply-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="text">Text:</label>
                    <textarea class="form-control" id="text" name="text"></textarea>
                </div>
                <p id="apply-form-message" class="text-danger"></p>
                <button type="button" class="btn btn-default" onclick="apply()">Apply</button>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block js_body %}
    <script>
    function approve(user_id){
        if (confirm('Are you sure?')){
            $.ajax({
                url: '/works/approve_application/{{ vacant_topic.id }}',
                method: 'PUT',
                data: {user_id: user_id},
                success: function(){
                    window.location.reload();
                }
            });
        }
    }
    function apply(){
        var apply_form = $('#apply-form');
        apply_form.find('.form-control').each(function(){
            $(this).parent().removeClass('has-error');
            apply_form.find('p[class="text-danger"]').text('');
        });
        $.ajax({
            url: '{% url 'add_application' vacant_topic.id %}',
            method: 'POST',
            data: apply_form.serialize(),
            success: function(data){
                if (data.valid){
                    window.location.reload();
                }
                else{
                    for (var k in data.errors){
                        apply_form.find('textarea[name=' + k + ']').parent().addClass('has-error');
                    }
                    $('#apply-form-message').text(data.message);
                }
            }
        });
    }
    </script>
{% endblock %}